<div>
  <p> <% if (!message.wasRead()) { %>
    <span class="label label-default"><%- i18n('New') %>&nbsp;</span>
    <% } %>
    <%- LocaleService.formatTimestamp(message.getTimestamp()) %>
    - <i><%- message.getSender().getUsername()%></i></p>

  <p><%- MessageService.setHyperLinksInMessageBody(res, message.getBody()) %></p>
</div>
