<div class="favobtn" role="group">

        <span class="favoriteIcon isNotFavorite icon-star-empty" aria-hidden="true"></span>

</div>

<% block('localScripts', '<script src="/js/localscripts/favorites.js"></script>') %>
