<header id="header">
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
            <h1>Neeedo</h1>
        </div>
        <div class="col-xs-6">
            <%- partial('./login.ejs') %>
        </div>
        <div class="col-xs-1 local">
            <% // list all available locales / languages and provide link to set   %>
            <% for (var localeI = 0; localeI < LocaleService.getAvailableLocales().length; localeI++) { %>
            <% var locale = LocaleService.getAvailableLocales()[localeI] %>
            <a href="<%= UrlService.to(LocaleService.getSetLocaleUrl(locale)) %>">
                <img src="/images/<%= locale %>.png" alt="<%= locale %>"/>
            </a>
            <% } %>
        </div>
    </div>
</header>
