<header id="header">
<div class="row">
  <div class="col-xs-2">
    <a href="<%= UrlService.to('/') %>">
      <img src="/images/neeedo_Logo.png" alt="Neeedo Logo" class="img"/>
    </a>
  </div>
  <div class="col-xs-4 text-center">
    <h1>Neeedo</h1>
  </div>
  <div class="col-xs-5">
    <%- partial ('./login.ejs') %>
  </div>
  <div class="col-xs-1 local">
    <% // list all available locales / languages and provide link to set %>
    <% for (var localeI = 0; localeI < LocaleService.getAvailableLocales().length; localeI++) { %>
    <% var locale = LocaleService.getAvailableLocales()[localeI] %>
    <a href="<%= UrlService.to(LocaleService.getSetLocaleUrl(locale)) %>">
      <% if(locale == 'en') { %>
        <img src="/images/gb.png" alt="English" />
      <% } %>
      <% if(locale == 'de') { %>
      <img src="/images/de.png" alt="Deutsch" />
      <% } %>
    </a>
    <% } %>
  </div>
</div>
</header>
