<% if (req.session.flash) { %>
  <% if(req.session.flash.success) { %>
  <div class="text-center errorMsg alert alert-success">
    <%- FlashMessagesService.getSuccessMessage(req) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <% if (req.session.flash.error) { %>
    <div class="text-center errorMsg alert alert-danger">
      <%- FlashMessagesService.getErrorMessage(req) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
<% } %>

<% block('localScripts', '<script src="/js/localscripts/flashmessages.js"></script>') %>
