<li class="listItem" id="offerHandlebarsListItem">
  <div class="media-left">
    {{# if offer.firstImage }}
    <a href="{{ offer.viewUrl }}">
      <img class="offerImageSmall" src="{{ offer.firstImage.url }}" alt="{{ offer.firstImage.alt }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading title">{{ offer.tags }}</h4>
    <p>{{ translations.price }}: {{ offer.price }}<span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
    <p><strong>{{ offer.user.username }}</strong></p>
  </div>
</li>



