//Wet Kiss in the Metro
@MetroDark: #1E2422;
@MetroPinK: #FF006D;
@MetroGreen: #88BEB1;
@MetroLightBlue: #DAFFFF;
@MetroGreyBlue: #718494;

//Fontcolors

//Variationen
@DarkerMetroGreen: #6A9A8D;

@MainBackground: #e0e0e0;
