@font-face {
  font-family: 'lobster-two';
  src: url('../../../fonts/lobster-two/LobsterTwo-Bold.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-BoldItalic.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-Italic.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-Regular.otf');
}

@font-face {
  font-family: 'amatic';
  src: url('../../../fonts/amatic/Amatic-Bold.ttf') format('truetype');
  src: url('../../../fonts/amatic/AmaticSC-Regular.ttf')format('truetype');
}