@font-face {
  font-family: 'lobster-two';
  src: url('../../../fonts/lobster-two/LobsterTwo-Bold.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-BoldItalic.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-Italic.otf');
  src: url('../../../fonts/lobster-two/LobsterTwo-Regular.otf');
}

@font-face {
  font-family: 'amatic';
  src: url('../../../fonts/amatic/Amatic-Bold.ttf') format('truetype');
  src: url('../../../fonts/amatic/AmaticSC-Regular.ttf')format('truetype');
}

@font-face {
  font-family: '3Dumb';
  src: url('../../../fonts/3Dumb/2Dumb.ttf') format('truetype');
  src: url('../../../fonts/3Dumb/3Dumb.ttf') format('truetype');
}

/* icomoon - icon font */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src:url('../../../fonts/icomoon/icomoon.eot?-9heso');
  src:url('../../../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
  url('../../../fonts/icomoon/icomoon.woff?-9heso') format('woff'),
  url('../../../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
  url('../../../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

/* content attributes
home e900
home2 e901
home3 e902
plus ea0a
minus ea0b
cross ea0f
checkmark ea10
arrow-right2 ea3c
arrow-left2 ea40
html5 eadf
html52 eae0
*/
