<div id= main class="container">

    <ul>
      <% demands.forEach(function(demand) { %>
      <%- partial ('./partials/recentDemands.ejs',{demand: demand}) %>
      <% }); %>
    </ul>
    <ul>
      <% offers.forEach(function(offer) { %>
      <%- partial ('./partials/recentOffers.ejs',{offer: offer}) %>
      <% }); %>
    </ul>
</div> <!--Main Container-->
