<div class="container">
  <div class="panel-group" id="mailbox-accordion" role="tablist" aria-multiselectable="true">
    <% unreadConversationList.getConversations().forEach(function (conversation) { %>
    <%- partial('../partials/mailbox/conversation.ejs', {conversation: conversation}) %>
    <% }); %>
    <% readConversationList.getConversations().forEach(function (conversation) { %>
    <%- partial('../partials/mailbox/conversation.ejs', {conversation: conversation}) %>
    <% }); %>
  </div>
</div>
