<div class="container">
  <div class="panel-group" id="mailbox-accordion" role="tablist" aria-multiselectable="true">
    <% var counter = 0;
      unreadConversationList.getConversations().forEach(function (conversation) { %>
    <%- partial('../partials/mailbox/conversation.ejs', {
      conversation: conversation,
      isUnread: true,
      collapseId: 'collapse' + counter
    }) %>
    <% counter++;
      }); %>
    <% readConversationList.getConversations().forEach(function (conversation) { %>
    <%- partial('../partials/mailbox/conversation.ejs', {
      conversation: conversation,
      isUnread: false,
      collapseId: 'collapse' + counter
    }) %>
    <% counter++;
      }); %>
  </div>
</div>

<% block('localScripts', '<script src="/js/localscripts/mailbox.js"></script>') %>
<%- partial ('../partials/mailbox/handlebars/preview-messages.ejs') %>
