<div id="messagePreviewTemplate">
  <li>
    <a href="{{message.viewUrl}}">
      <div>
        <i>{{message.time}}</i>

        <p>
          {{message.shortBody}}
        </p>

      </div>
    </a>
  </li>
</div>
