<div id="yesNoDialogHandlebars">
  <!-- Modal Dialog -->
  <div class="modal fade" id="yesNoDialog" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{body}}</p>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">{{noActionLabel}}</button>-->
          <button type="button" class="neeedoBtn neeedoBtn--nuka neeedoBtn--danger dialogConfirmBtn" data-actionUrl="{{yesActionUrl}}">{{yesActionLabel}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
