<div id="demandMarker">
  <h4 class="media-heading title"> {{mustTags}} </h4>
  <p>
    <i>{{shouldTags}}</i>
  </p>
  <p>
    {{priceFrom}} - {{priceTo}}
  </p>
  <p>
    <a href="{{viewUrl}}" title="Details">Details</a>
  </p>
</div>

