<div id="demandMarker">
  <h4 class="media-heading title">{{translations.lookingFor}} {{mustTags}} </h4><br/>
  <i>{{user.username}}</i>

  <p>
    <i>{{shouldTags}}</i>
  </p>

  <p>
    {{translations.price}} {{priceFrom}} - {{priceTo}} &euro;
  </p>
</div>

