<div id="offerMarker">
  <h4 class="media-heading title">{{translations.offering}} {{tags}}</h4>
  <i>{{user.username}}</i>

  <p>
    {{translations.price}}: {{price}} &euro;
  </p>

  <p>
    {{{imageHtml}}}
  </p>

  {{#if showDetailsLink}}
  <p>
    <a href="{{viewUrl}}" title="Details">{{translations.details}}</a>
  </p>
  {{/if}}
</div>

