<div id="offerMarker">
  <h4 class="media-heading title">{{translations.offering}} {{tags}}</h4>
  <p>
    {{translations.price}}: {{price}} &euro;
  </p>
  <p>
    <img src="{{image}}" alt="{{imagetitle}}" />
  </p>
  <p>
    <a href="{{viewUrl}}" title="Details">{{translations.details}}</a>
  </p>
</div>

