<div class="container">
  <div class="container contentContainer">
    <h1 class="text-center" id="formHeading"><%= i18n('Create offer') %></h1>
    <%- partial ('../partials/forms/offer.ejs') %>
  </div>
</div>
