<div class="modal-content">
  <div class="container contentContainer">
    <h1 class="text-center" id="formHeading"><%= i18n('Edit offer') %></h1>
    <%- partial ('../partials/forms/offer.ejs') %>
  </div>
</div>
