/***************************
        STRUCTURE
***************************/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
/***************************
        NAVIGATION
***************************/
.cbp-spmenu {
  background: #88BEB1;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #e0e0e0;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #6A9A8D;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #6A9A8D;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #6A9A8D;
}

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #6A9A8D;
  padding: 1em;
}

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#showLeft{
  position: absolute;
  right: -50px;
  width: 50px;
  top: 40%;
  background-color: #88BEB1;
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
  margin: 0;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

#showLeft:hover{
  text-shadow: 0 0 0.2em #6A9A8D, 0 0 0.2em #6A9A8D, 0 0 0.2em #6A9A8D;
}

#showLeft:focus{
  border: none;
}

#cbp-spmenu-s1{
  z-index: 9000;
}

/***************************
        FOOTER
***************************/

.footer, .push {
  height: 4em;
  clear: both;
}

.footer{
  background-color: #6A9A8D;
  border-top: 5px groove #88BEB1;
}

.footer a{
  color: #e0e0e0;
  padding-top: 10px;
  display: block;
}

.footer a:hover{
  font-weight: bold;
}

.footer small{
  font-size: 0.7em;
  color: #b0b0b0;
}

/***************************
        HEADER
***************************/
#header .img{
  max-width: 100px;
  width: 100%;
}

#header h1{
  display: block;
  margin: 0.2em;
  font-size: 1.5em;
  color: #6A9A8D;
  font-weight: bold;
}

#header .local{
  padding: 0;
  margin: 0;
}

#login{
  z-index: 9000;
  background-color: #88BEB1;
  position: absolute;
  width: 100%;
}

#login input{
  width: 100%;
}

.headerLogin{
  display: block;
  width: 100%;
}

.headerLogin div{
  padding: 0;
}

.trans{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.headerBtn{
  background-color: #6A9A8D;
  color: #fff;
  width: 100%;
  display: block;
  padding: 20px 0;
  font-size: 0.7em;
}

.headerBtn:hover{
  color: #fff;
}
/***************************
        OTHER STYLES
***************************/
#errorMessage, #successMessage, #addModal {
  margin-top: 15em;
}

/* Mouse selection */
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #88BEB1;
}

::selection {
  color: #fff;
  background: #88BEB1;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}
/***************************
        MEDIA QUERIES
***************************/
/* Tablet */
@media only screen and (min-width: 570px){

}
/* Desktop */
@media only screen and (min-width: 768px) {

}
/***************************
        CONTENT
***************************/

.slElement{
 background-color: #88BEB1;
  height: 180px;
  padding:10px ;
  border-radius: 5px;
}

.slWraper{
  background-color: #718A94;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.item-a { width:300px; }
@media (max-width: 768px) {
  .item-a { width:100px; }
}
