/* Button Style */
.round-button-small {
  position: absolute;
  width: @iconSize;
  height: @iconSize;
  line-height: @iconSize !important;
  border: 1px solid white;
  border-radius: 50%;
  color: @HeaderBG !important;
  text-align: center;
  text-decoration: none;
  background: @MetroGreen;
  box-shadow: 0 0 3px gray;
  font-size: @iconSizeSmall !important;
  padding: 0 !important;
  &:hover {
    background: transparent;
    color: @MetroPinK !important;
    border-color: @BorderColorInv;
  }
}

.lng-active{
  background-color: transparent ;
  color:@MetroGreen !important;
  border-color: @MetroGreen !important;
}

.headerIconSmall {
  position: relative;
  height: 80px;
  span {
    position: absolute;
    display: block;
    width: @iconSize;
    height: @iconSize;
    line-height: @iconSize;
    border: 2px solid white;
    border-radius: 50%;
    color: @HeaderBG;
    text-align: center;
    text-decoration: none;
    background: @BLUEGREEN;
    box-shadow: 0 0 3px @BEIGE;
    font-size: @iconSize;
  }
  p {
    position: absolute;
    left: 30%;
    top: 40%;

    font-size: 1em;
  }
  &:hover {
    span {
      background: #262626;
      border-color: @BorderColorInv;
      color: @HeaderFontColorInv;

    }
  }
}

.headerIconBig {
  margin-top: 10px;
  position: relative;
  height: 100px;
  min-width: 110px;
  max-width: 120px;
  a {
    span {
      position: absolute;
      left: 30%;
      top: 10%;
      display: block;
      width: @iconSize;
      height: @iconSize;
      line-height: @iconSize;
      border: 2px solid white;
      border-radius: 50%;
      color: @HeaderBG;
      text-align: center;
      text-decoration: none;
      background: @BLUEGREEN;
      box-shadow: 0 0 3px @BEIGE;
      font-size: @iconSize;
      padding-bottom: 3px;

    }
    p {
      position: absolute;
      text-align: center;
      top: 60%;
      width: 100%;

    }
    &:hover {
      span {
        background: #262626;
        border-color: @BorderColorInv;
        color: @HeaderFontColorInv;

      }
    }
  }
  .newMsgCount {
    position: absolute;
    top: 12%;
    left: 60%;
    color: white;
    background-color: red;
    width: 15px;
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    display: none;
  }
}

/* Common button styles */
.neeedoBtn {
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.neeedoBtn:focus {
  outline: none;
}

.neeedoBtn > span {
  vertical-align: middle;
}

/* Nuka */
.neeedoBtn--nuka {
  margin: 0 auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.neeedoBtn--nuka.neeedoBtn--inverted {
  color: #fff;
}

.neeedoBtn--nuka::before,
.neeedoBtn--nuka::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: @NeeedoBtnColor;
  z-index: -1;
}

.neeedoBtn--danger::before,
.neeedoBtn--danger::after {
  background: @NeeedoDangerBtn !important;
}

.neeedoBtn--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.4;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.neeedoBtn--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.neeedoBtn--nuka::before,
.neeedoBtn--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.neeedoBtn--nuka.neeedoBtn--inverted::before,
.neeedoBtn--nuka.neeedoBtn--inverted::after {
  background: #fff;
}

.neeedoBtn--nuka:hover {
  color: #fff;
}

.neeedoBtn--nuka:hover::before {
  opacity: 1;
}

.neeedoBtn--nuka:hover::after {
  background-color: @DarkerMetroGreen;
}

.neeedoBtn--nuka.neeedoBtn--inverted:hover::after {
  background-color: #7986cb;
}

.neeedoBtn--nuka:hover::after,
.neeedoBtn--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* Back to top button */

.back-to-top {
  background-image: url("/images/icons/top.png");
  background-size: 100% 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
}

.back-to-top:hover{
  background-image: url("/images/icons/top_hover.png");
}
