.description{
  margin-bottom: 3em ;
  font-size: 1.2em;
  h1{
    margin: 0;
    margin-bottom: 10px ;
    font-size: 50px;
  }
  #welcome{
    color: @MetroGreen;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 0.5em;
  }
  button{
    color: @MetroDark;
  }
  img{
    height: 7em;
    width: 15em;;
  }
  .descriptionText{
    color: @MetroLightBlue !important;
  }

  .smallDescription {
    display: none;
  }
}
