.detailView {
  position: relative;
  padding: 5px;
  background-image: url("/images/cardBG.png");
  border-radius: 10px;
  color: @MetroDark;
//  height: 80em;
  .crudbtn, .favobtn {
    position: absolute;
    font-size: 2em;
    top: 12%;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .map{
    height: 100% !important;
  }

  .crudbtn {
    right: 8%;
    a {
      color: @MetroPinK;
      &:hover {
        color: @MetroLightBlue;
      }
    }
  }

  .favobtn {
    right: 3%;
    a {
      color: @MetroPinK;
      &:hover {
        color: @MetroGreen;
      }
    }
  }
  #offerGallery{
    position: relative;
  }
  .price {
    position: absolute;
    padding: 2%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: @MetroGreen !important;
    color: white;
    font-size: 1.2em;
    top: 1%;
    left: 2%;
  }
}

.detailheader {
  position: absolute;
  width: 100%;
  height: 5em;
  top: 0;
  left: 0;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  background-color: @MetroGreen;
  .detailtitle {
    padding-top: 1%;
    font-size: 3em;
    font-weight: bold;
    color: fadeout(@MetroDark, 20%) !important;
    span {
      font-size: 0.8em;
    }
  }
}

.detailimage {
  margin-top: 5.3em;
  margin-left: 1%;
  margin-right: 1%;
}

.detailcaption {
  width: auto;
  h3 {
    padding: 0 5px;
  }
  .tags {
    margin: 0 1%;
  }
  table {
    border: solid 1px grey;
    width: 100%;
    margin: 2% 0;
    tr {
      height: 2.5em;
    }
    td {
      padding: 0 5px;
      width: 50% !important;
    }
  }
}



