/***************************
        FOOTER
***************************/

.push {
  height: 4em;
  clear: both;
}

footer{
  &:extend(.push);
  background-color: @MainBackground;
  a {
    padding-top: 10px;
    display: block;
  }
}

