/* Form Styles */
.form label{
  color: #333;
  padding-top: 5px;
  width: 75%;
  font-weight: normal;
  font-size: 0.8em;
  outline: none;
  margin-bottom: 5px;
}

/* /register Styles */

#registrationForms h1{
  color: #fff;
}

#registrationForms label{
  color: #fff;
}

#registrationForms label, #registrationForms input{
  margin-bottom: 5px;
}

#loginBtn, #registerBtn, #registrationForms input{
  width: 100%;
}
