/* Form Styles */
.form {
  &:extend(#addressLabel);
  label{
    padding-top: 5px;
    width: 75%;
    outline: none;
    margin-bottom: 5px;
  }
}

#address {
  width: 100%;
}

#offerPreviewImage {
  display: none;
}

.form-style{
  max-width: 75%;
  margin: 20px auto;
  background: @DarkerMetroGreen;
  padding: 10px;
}

.form-style h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
}

.form-style ul{
  list-style:none;
  padding:0;
  margin:0;
}

.form-style li{
  display: block;
  margin-bottom: 10px;
}

.form-style .priceCol{
  width: 39%;
  float: left;
}

.leftCol{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 10%;
  margin-right: 1%;
}

#minPriceDemand, #maxPriceDemand{
  width: 100%;
}

.rightCol{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 1%;
}

.form-style #locationCol{
  width: 21%;
  float: left;
  margin-left: 10%;
  margin-bottom: 20px;
}

.form-style #addressContainer{
  width: 53%;
  float: left;
  font-size: 1em;
  margin-left: 5%;
  margin-bottom: 20px;
}

#ui-id-1{
  max-width: 37.15% !important;
}

.ui-menu .ui-menu-item:hover{
  background-image: none !important;
  background: @MetroGreen !important;
  color: #f0f0f0 !important;
}

.form-style .clear{
  clear: both;
}

.setBorder{
  border: 3px solid @MetroGreen;
}

.form-style li > label{
  display: block;
  background: @DarkerMetroGreen;
  color: @MetroLightBlue;
  overflow: hidden;
  width: 80%;
  margin: 5px auto;
}

.form-style input,
.form-style select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 80%;
  display: block;
  outline: none;
  border: none;
  color: #f0f0f0;
  height: 3em !important;
  background: @MetroGreen;
  padding: 5px;
  margin: 0 auto;
  font-family: sen;
  font-size: 1em;
}

.form-style{
  *::-webkit-input-placeholder {
    color: #f0f0f0;
    opacity: 0.7;
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: #f0f0f0;
    opacity: 0.7;
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: #f0f0f0;
    opacity: 0.7;
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #f0f0f0;
    opacity: 0.7;
  }
}

#submitBtn{
  border: none;
  padding: 10px 0 15px;
}
.disabled{
  background-color: @DarkerMetroGreen !important;
}
.ui-menu .ui-menu-item{
  line-height: 1.5em;
  background-color: #e0e0e0;
  border-top: none;
}

#useGeolocation:focus, #useGeolocation:checked, #useGeolocation::selection, #useGeolocation:active, #useGeolocation:visited{
  border: none;
  outline: none;
}

.checkboxContainer{
  height: 3em;
  width: 100%;
  background-color: #88beb1;
  padding-top: 12px;
}

#useGeolocation{
  height: 1.3em !important;
  margin: 0 auto;
}

#addressLabel, #useGeoLocLabel{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 5px 0;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

#locationCheckbox{
  height: 75px;
}

#locLabel{
  font-size: 0.5em;
  padding-left: 7px;
  padding-top: 10px;
}

ul.tagit li.tagit-new{
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  background-color: @DarkerMetroGreen !important;
}

ul.tagit input[type="text"]{
  background-color: @MetroGreen !important;
  padding: 5px !important;
  margin: 0 auto !important;
  font-family: sen !important;
  font-size: 1em !important;
  height: 3em !important;
}

ul.tagit{
  width: 80% !important;
  margin: 0 auto !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: @MetroGreen !important;
}

ul.tagit li.tagit-choice-editable{
  background-color: @MetroGreen !important;
  color: @MetroGreen !important;
}

.ui-widget-content{
  border: none !important;
  background-image: none !important;
}

.ui-menu .ui-menu-item{
  background-color: #fff !important;
}

.ui-corner-all{
  border-radius: 0 !important;
}

.tagit-label{
  background-color: @DarkerMetroGreen !important;
  padding: 5px;
  border-radius: 2px;
  color: #fff !important;
}

.ui-state-default .ui-icon {
  background-image: url("/images/jqueryUI/ui-icons_2e83ff_256x240.png") !important;
}

ul.tagit li.tagit-choice .tagit-close{
  color: @MetroPinK;
}

#fileUploadLabel{
  font-size: 0.7em;
  margin-left: 5px;
  color: #f0f0f0;
}

#fileupload-input{
  padding: 5px;
  background-color: @DarkerMetroGreen;
  color: #fff;
  width: 100%;
  height: 100px !important;
  border: 1px dashed #fff;
  cursor: pointer;
}

#fileupload{
  background-color: @MetroGreen;
  width: 80%;
  margin: 0 auto;
}

#fileupload-messages{
  text-align: center;
  background-color: @MetroGreen;
  color: #f0f0f0;
  width: 80%;
  margin: 0 auto;
}

#fileupload-messages p{
  margin: 0;
}

#fileUploadDescription{
  font-size: 0.8em;
  padding: 5px;
  margin: 0;
  color: #f0f0f0;
}

.hideLi{
  display: none !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.fileupload-preview-images{
  background-color: @MetroGreen;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

#fileupload-files li{
  width: 32%;
  display: inline-block;
}

#fileupload-files li img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

.fileupload-delImg{
  margin: 0 auto;
  color: #ff006d;
  cursor: pointer;
  display: block;
  width: 2em;
  font-size: 2em;
  text-align: center;
}

.fileupload-delImg:hover{
  color: #ff0000;
}

#fileupload-files input{
  background: #d0d0d0;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #7a7a7a;
  color: @DarkerMetroGreen;
  height: 3em;
  width: 66%;
  margin: 0 auto;
}

.inputMissing{
  color: @MetroPinK;
  display: none;
  background: #F0F0F0;
  text-align: center;
  font-size: 85%;
}

.inputError{
  color: @MetroPinK;
  background: #F0F0F0;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 85%;
}

.showError{
  display: block;
  width: 80%;
  margin: 0 auto;
}

#errorLoc{
  width: 100%;
  font-family: sen;
}

#loginForm div{
  margin-bottom: 10px;
}

.form-style, #formHeading{
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fadeOutForm{
  -webkit-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
}

.fadeInLoadingMsg{
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  z-index: 9999 !important;
}

#loading{
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: -9999;
  width: 50%;
  max-width: 450px;
}

#loading img{
  max-width: 100%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

#messageBody {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20em;
  max-height: 20em;
  min-height: 20em;
  resize: none;
}

#createMessage{
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.formHeading{
  margin-bottom: 1em;
  color: @DarkerMetroGreen;
}

.ui-slider-range{
  background: @DarkerMetroPink !important;
}

#slider-range{
  background: @MetroGreen !important;
  width: 80%;
  margin: 0 auto;
}

.priceDemandLabel{
  width: 100%;
}

#addressLabel, .priceDemandLabel{
  margin: 0 0 5px !important;
}

.suggestedTags{
  background-color: @MetroGreen;
  width: 80%;
  margin: 0 auto;
}

.suggestedTag{
  margin: 5px 0 5px 5px;
  display: inline-block;
  cursor: pointer;
}

#suggestedTagsHeader{
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color: @MetroGreen;
  color: #f0f0f0;
  padding-left: 5px;
}

ul.tagit li:not(:first-child) ::-webkit-input-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::-moz-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::-ms-input-placeholder {opacity: 0;}
ul.tagit li:not(:first-child) ::placeholder {opacity: 0;}

#showUpload{
  color: #f0f0f0;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hide{
  display: none;
}
