/* Form Styles */
.form {
  &:extend(#addressLabel);
  label{
    padding-top: 5px;
    width: 75%;
    outline: none;
    margin-bottom: 5px;
  }
}

#address {
  width: 100%;
}

#offerPreviewImage {
  display: none;
}

.form-style{
  max-width: 600px;
  margin: 20px auto;
  background: #f0f0f0;
  border-radius:2px;
  padding:20px;
}
.form-style h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
}
.form-style ul{
  list-style:none;
  padding:0;
  margin:0;
}
.form-style li{
  display: block;
  padding: 9px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.form-style .priceCol{
  width: 49%;
  float: left;
}
.form-style #locationCol{
  width: 24%;
  float: left;
}
.form-style #addressContainer{
  width: 74%;
  float: left;
  font-size: 1em;
}
.form-style .clear{
  clear: both;
}
.leftCol{
  margin-right: 1%;
}
.rightCol{
  margin-left: 1%;
}
.setBorder{
  border: 3px solid @MetroGreen;
}
.form-style li > label{
  display: block;
  float: left;
  margin-top: -21px;
  background: #f0f0f0;
  color: @DarkerMetroGreen;
  overflow: hidden;
}
.form-style input,
.form-style select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  color: @DarkerMetroGreen;
  height: 2.5em;
  background: #e3e3e3;
}
.form-style input:focus::-webkit-input-placeholder { color:transparent; }
.form-style input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
.form-style input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
.form-style input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
.form-style li > span{
  background: #d0d0d0;
  display: block;
  padding: 3px;
  text-align: center;
  color: @DarkerMetroGreen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#submitBtn{
  border: none;
}
.disabled{
  background-color: #d0d0d0 !important;
}
.ui-menu .ui-menu-item{
  line-height: 1.5em;
  background-color: #e0e0e0;
  border-top: none;
}

#useGeolocation:focus, #useGeolocation:checked, #useGeolocation::selection, #useGeolocation:active, #useGeolocation:visited{
  border: none;
  outline: none;
}

.checkboxContainer{
  height: 2.5em;
  width: 100%;
  background-color: #e0e0e0;
  padding-top: 9px;
}

#useGeolocation{
  height: 1.3em;
  margin: 0 auto;
}

#addressLabel{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

#locationCheckbox{
  height: 75px;
}

#locLabel{
  font-size: 0.5em;
  padding-left: 7px;
  padding-top: 10px;
}

ul.tagit li.tagit-new{
  padding: 0 !important;
  width: 100% !important;
  margin-bottom: 0 !important;
}

ul.tagit input[type="text"]{
  background-color: #e0e0e0 !important;
}

ul.tagit{
  width: 100% !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.ui-widget-content{
  border: none !important;
  background-image: none !important;
}

.ui-menu .ui-menu-item{
  background-color: #fff !important;
}

.ui-corner-all{
  background-color: #d0d0d0 !important;
}

.tagit-label{
  background-color: #e0e0e0 !important;
}

#fileUploadLabel{
  font-size: 0.7em;
  margin-left: 5px;
}

label{
  margin-bottom: 0 !important;
}

#fileupload-input{
  padding: 5px;
  background-color: #d0d0d0;
  color: @DarkerMetroGreen;
  width: 100%;
  height: 100px;
  border: 1px dashed @DarkerMetroGreen;
}

#fileupload{
  background-color: #e0e0e0;
}

#fileupload-messages{
  text-align: center;
  background-color: #d0d0d0;
}

#fileupload-messages p{
  margin: 0;
}

#fileUploadDescription{
  font-size: 0.7em;
  padding: 5px;
  margin: 0;
}

.hideLi{
  display: none !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.fileupload-preview-images{
  background-color: #e0e0e0;
}

#fileupload-files li{
  width: 32%;
  display: inline-block;
}

#fileupload-files li img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

#fileupload-files input{
  background: #d0d0d0;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #7a7a7a;
  border-radius: 3px;
  color: @DarkerMetroGreen;
  height: 3em;
  width: 66%;
  margin: 0 auto;
}

.inputMissing{
  color: #ff0000;
  display: none;
  background: #e0e0e0;
  text-align: center;
}

.showError{
  display: block;
}

#loginForm div{
  margin-bottom: 10px;
}

.form-style, #formHeading{
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fadeOutForm{
  -webkit-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
}

.fadeInLoadingMsg{
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  z-index: 9999 !important;
}

#loading{
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: -9999;
  width: 50%;
  max-width: 450px;
}

#loading img{
  max-width: 100%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

#messageBody {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20em;
  max-height: 20em;
  min-height: 20em;
  resize: none;
}

#createMessage{
  width: 100%;
  max-width: 100%;
}

.formHeading{
  margin-bottom: 1em;
  color: @DarkerMetroGreen;
}
