/***************************
        HEADER
***************************/
header{
  z-index: 8000;
  height: @headerHeight;
  margin-bottom: 20px;
  border-bottom: 1px solid @BorderColor;
  h1 {
    display: block;
    margin: 0 ;
    padding-left: 0.3em;
    padding-top: 0.3em;
  }
  .local {
    padding-top: 0.7em;

    img{
      margin: 0.2em;
      height: 1.5em;
      width: 2.5em;
    }
  }
}

.headerElement{
  display: block;
  width: 100%;
  font-size: 2em;
  padding-top: 1.3em;
  div{
    padding-top: 0;
  }
  p{
    color: @HeaderFontColor;
  }
  a{
    color: @HeaderFontColor;
    &:hover, &:active{
      color: @HeaderFontColorInv;
    }
  }
}

.headerIcon{
  &:extend(.headerElement);
}

.trans{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
