/***************************
        HEADER
***************************/
header {
  height: @headerHeight;
  border-bottom: 1px solid @BorderColor;
  h1 {

  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  img {
    max-height: @headerHeight;
    padding: 0.2em;
  }
}

.headerElement {
  display: block;
  width: 100%;
  font-size: 1.3em;
  padding-top: 1em;
  div {
    padding-top: 0;
  }
  p {
    color: @HeaderFontColor;
  }
  a {
    color: @HeaderFontColor;
    &:hover, &:active {
      color: @HeaderFontColorInv;
    }
  }
}

.headerIcon {
  &:extend(.headerElement);
  span {
    color: @HeaderFontColor;
  }
}

.trans {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
