/* Create Offer/Demand icon homepage.ejs */

.createLink {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  margin-left: 5px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover, &:active, &:focus, &::selection {
    text-decoration: none;

  }
}

.createLink:before {
  content: "\ea0a";
}

/* Icons */

.icons {
  font-family: 'icomoon';
}


.icon-demand:before {
  &:extend(.icons);
  content: "\e904";
}

.icon-offer:before {
  &:extend(.icons);
  content: "\e935";
}

.icon-user-plus:before {
  &:extend(.icons);
  content: "\e973";
}


.icon-home:before {
  &:extend(.icons);
  content: "\e900";
}

.icon-home2:before {
  &:extend(.icons);
  content: "\e901";
}

.icon-home3:before {
  &:extend(.icons);
  content: "\e902";
}

.icon-newspaper:before {
  &:extend(.icons);
  content: "\e904";
}

.icon-pencil:before {
  &:extend(.icons);
  content: "\e905";
}

.icon-folder:before {
  &:extend(.icons);
  content: "\e92f";
}

.icon-folder-open:before {
  &:extend(.icons);
  content: "\e930";
}

.icon-folder-upload:before {
  &:extend(.icons);
  content: "\e934";
}

.icon-price-tag:before {
  &:extend(.icons);
  content: "\e935";
}

.icon-price-tags:before {
  &:extend(.icons);
  content: "\e936";
}

.icon-coin-dollar:before {
  &:extend(.icons);
  content: "\e93b";
}

.icon-coin-euro:before {
  &:extend(.icons);
  content: "\e93c";
}

.icon-coin-pound:before {
  &:extend(.icons);
  content: "\e93d";
}

.icon-coin-yen:before {
  &:extend(.icons);
  content: "\e93e";
}
.icon-envelop:before {
  &:extend(.icons);
  content: "\e945";
}

.icon-bubble:before {
  &:extend(.icons);
  content: "\e96b";
}
.icon-bubbles:before {
  &:extend(.icons);
  content: "\e96c";
}
.icon-bubbles2:before {
  &:extend(.icons);
  content: "\e96d";
}
.icon-bubble2:before {
  &:extend(.icons);
  content: "\e96e";
}
.icon-bubbles3:before {
  &:extend(.icons);
  content: "\e96f";
}
.icon-bubbles4:before {
  &:extend(.icons);
  content: "\e970";
}
.icon-user:before {
  &:extend(.icons);
  content: "\e971";
}
.icon-users:before {
  &:extend(.icons);
  content: "\e972";
}
.icon-user-tie:before {
  &:extend(.icons);
  content: "\e976";
}
.icon-search:before {
  &:extend(.icons);
  content: "\e986";
}
.icon-enlarge:before {
  &:extend(.icons);
  content: "\e989";
}
.icon-cog:before {
  &:extend(.icons);
  content: "\e994";
}
.icon-cogs:before {
  &:extend(.icons);
  content: "\e995";
}
.icon-bin:before {
  &:extend(.icons);
  content: "\e9ac";
}
.icon-menu:before {
  &:extend(.icons);
  content: "\e9bd";
}
.icon-eye:before {
  &:extend(.icons);
  content: "\e9ce";
}

.icon-eye-plus:before {
  &:extend(.icons);
  content: "\e9cf";
}

.icon-eye-minus:before {
  &:extend(.icons);
  content: "\e9d0";
}

.icon-eye-blocked:before {
  &:extend(.icons);
  content: "\e9d1";
}

.icon-star-empty:before {
  &:extend(.icons);
  content: "\e9d7";
}
.icon-star-full:before {
  &:extend(.icons);
  content: "\e9d9";
}

.icon-smile:before {
  &:extend(.icons);
  content: "\e9e1";
}

.icon-smile2:before {
  &:extend(.icons);
  content: "\e9e2";
}

.icon-sad:before {
  &:extend(.icons);
  content: "\e9e5";
}

.icon-sad2:before {
  &:extend(.icons);
  content: "\e9e6";
}

.icon-plus:before {
  &:extend(.icons);
  content: "\ea0a";
}

.icon-minus:before {
  &:extend(.icons);
  content: "\ea0b";
}

.icon-cancel-circle:before {
  &:extend(.icons);
  content: "\ea0d";
}

.icon-cross:before {
  &:extend(.icons);
  content: "\ea0f";
}

.icon-checkmark:before {
  &:extend(.icons);
  content: "\ea10";
}
.icon-enter:before {
  &:extend(.icons);
  content: "\ea13";
}
.icon-exit:before {
  &:extend(.icons);
  content: "\ea14";
}
.icon-backward:before {
  &:extend(.icons);
  content: "\ea1a";
}

.icon-forward2:before {
  &:extend(.icons);
  content: "\ea1b";
}

.icon-arrow-up2:before {
  &:extend(.icons);
  content: "\ea3a";
}

.icon-arrow-right2:before {
  &:extend(.icons);
  content: "\ea3c";
}

.icon-arrow-down2:before {
  &:extend(.icons);
  content: "\ea3e";
}

.icon-arrow-left2:before {
  &:extend(.icons);
  content: "\ea40";
}
.icon-circle-right:before {
  &:extend(.icons);
  content: "\ea42";
}
.icon-circle-left:before {
  &:extend(.icons);
  content: "\ea44";
}
.icon-mail2:before {
  &:extend(.icons);
  content: "\ea84";
}
.icon-mail4:before {
  &:extend(.icons);
  content: "\ea86";
}

.icon-github:before {
  &:extend(.icons);
  content: "\eab1";
}

.icon-github4:before {
  &:extend(.icons);
  content: "\eab4";
}

.icon-github5:before {
  &:extend(.icons);
  content: "\eab5";
}

.icon-android:before {
  &:extend(.icons);
  content: "\eac1";
}

.icon-html5:before {
  &:extend(.icons);
  content: "\eadf";
}

.icon-html52:before {
  &:extend(.icons);
  content: "\eae0";
}

