.offerImageSmall{
  border-radius: @borderRadius;
  height: 3em;
  width: 3em;
}

nav img{
  width: 70px;
  max-width: 80px;
  position: absolute;
  right: -(@menuBtnWidth+35px);
  top: 5px;
  z-index: 1000;
}
