#login {
  margin-top: 0.2em;
  padding: 0.1em;
  z-index: 9000;
  position: absolute;
  left: 3em;
  width: 9em;
  form{
  }
  label {
    background-color: white;
    padding-top: 5px;
    width: 75%;
    min-width: 2em;
    outline: none;
    margin-bottom: 5px;

  }
  input {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    width: 100%;
  }
}

#loggedIn {
  padding-top: 0.5em;
  padding-left: 1.5em;
  p {
    margin-left: -10px;
  }
}

#logoutBtn {
}
