#login{
  padding-top: 2.4em;
  background-color: white;
  z-index: 9000;
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 240px;
  left: -130px;
  label{
    padding-top: 5px;
    width: 75%;
    outline: none;
    margin-bottom: 5px;
  }
  input{
    width: 100%;
    margin-bottom: 5px;
  }
}

#loggedIn{
  padding-top: 0.5em;
  p{
    margin-left: -10px;
  }
}

#logoutBtn{
}
