.panel-default > .panel-heading{
  background-color: @MetroGreen !important;
  color: @DARK !important;
  background-image: none !important;
}

.label-default{
  background-color: @DarkerMetroGreen !important;
  color: @MetroLightBlue !important;
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a{
  background-color: @MetroGreen !important;
  color: @DARK !important;
}

.panel-group i, .panel-group p{
  color: @DarkerMetroGreen !important;
}

.mailboxLinks a{
  color: @MetroGreen;
}

.mailboxLinks a:hover, .mailboxLinks a:active, .mailboxLinks a:focus{
  color: @MetroLightBlue;
  outline: none;
}

#errorMessage{
  width: 100%;
}
