/*************************************************
        MAP (Open Layers Integration)
*************************************************/

.map {
  min-height: 400px;
  width: 100%;
  border: 1px solid @BorderColor;
  margin-bottom: 10px;
  h3{
    text-align: center;
  };
  color: @MetroDark;
}

#offerMarker, #demandMarker {
  display: none;
}

.offerMarkerImage {
  max-height: @thumbnailImagesMaxHeight
}
