/*************************************************
        MAP (Open Layers Integration)
*************************************************/

.map {
  min-height: 400px;
  width: 100%;
  border: 1px solid @BorderColor;
}

#offerMarker, #demandMarker {
  display: none;
}

.offerMarkerImage {
  max-height: @thumbnailImagesMaxHeight
}
