@media screen and (max-width: 52.375em) {
  .description {
    #welcome {
      font-size: 4em;
    }

    .smallDescription {
      display: none;
    }

    .mediumDescription {
      display: block;
    }
  }
}

@media screen and (max-width: 32em) {
  .description {
    #welcome {
      font-size: 2em;
    }

    .smallDescription {
      display: block;
    }

    .smallDescriptionBox{
      margin-bottom: 1em;
    }

    .mediumDescription {
      display: none;
    }
  }

  .ui-menu .ui-menu-item{
    font-size: 0.7em;
  }
}
