@media screen and (max-width: 768px) {
  .description {
    #welcome {
      font-size: 4em;
    }

    .smallDescription {
      display: none;
    }

    .mediumDescription {
      display: block;
    }
  }

  .en, .de {
    left: 93% !important;
  }

  .leaflet-popup-content{
    width: 200px !important;
  }
}

@media screen and (max-width: 570px) {
  .description {
    #welcome {
      font-size: 2em;
    }

    .smallDescription {
      display: block;
    }

    .smallDescriptionBox{
      margin-bottom: 1em;
    }

    .mediumDescription {
      display: none;
    }

    h1{
      font-size: 20px;
    }
  }

  .ui-menu .ui-menu-item{
    font-size: 0.7em;
  }

  .form-style #addressContainer{
    width: 80%;
    float: none;
    font-size: 1em;
    margin: 0 auto 15px;
  }

  .form-style #locationCol {
    width: 50%;
    margin: 0 auto 15px;
    float: none;
  }

  footer a{
    font-size: 0.8em;
  }

  #brand{
    display: none;
  }

  #headermsg {
    left: 55% !important;
  }

  #showLeft{
    left: 73% !important;
  }

  .en, .de {
    left: 88% !important;
  }

  .listItem .cardHeader .cardTitle{
    font-size: 1em !important;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
  }

  .listItem .caption .tags {
    font-size: 0.7em;
  }

  .listItem .caption table td {
    font-size: 0.8em;
  }

  .listItem .caption h3{
    font-size: 1em;
  }
}

@media screen and (max-width: 1200px) {
  .form-style li > label {
    font-size: 0.8em;
  }

  .form-style {
    max-width: 90%;
  }
  #brand{
    font-size: 3em !important;
  }
  .headerIconBig{
    max-width: 70px ;
    p{
      font-size: 9px;
      left: 10%;
    }
    .newMsgCount{
      left: 78%;
    }
  }

  .helpPageHeight{
    height: auto !important;
  }
}

@media screen and (max-width: 992px) {
  .form-style li > label {
    font-size: 0.7em;
  }

  .form-style {
    max-width: 95%;
  }
}

@media screen and (max-width: 800px){
}
