/***************************
        NAVIGATION
***************************/
.cbp-spmenu {
  margin-top: @headerHeight ;
  position: fixed;
  border-right: 5px ridge @BorderColor;
  background-color: white;
  h3 {
    background-color: white;
    padding: 20px;
    margin: 0;
    height: @headerHeight;
    border-bottom: 5px ridge @BorderColor;
  }
  a {
    background-color: white;
    display: block;
    &:hover {
      text-decoration: none;
    }
    &:active {

    }
  }
}
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  a {
    border-bottom: 1px ridge @BorderColor;
    padding: 1em;
  }
}

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#showLeft{
  background-color: white;
  position: absolute;
  right: -50px;
  width: 50px;
  top: 40%;
  padding: 20px;
  margin: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 5px ridge @BorderColor;
  border-top: 5px ridge @BorderColor;
  border-bottom: 5px ridge @BorderColor;
  border-left: none;
  &:hover{
    color: @BasicFontInv;
  }
  &:focus{
    outline: none;
  }
}
#showLeftBtn{
  width: 50px;
  max-width: 60px;
  margin-left: 0.5em ;
  margin-top: 1em;
  &:hover{
    color: @BasicFontInv;
  }
  &:focus{
    outline: none;
  }
}

#cbp-spmenu-s1{
  z-index: 9000;
}

#cbp-spmenu-s2{
  z-index: 9000;
}