/***************************
        OTHER STYLES
***************************/
#errorMessage, #successMessage, #addModal {
  margin-top: 15em;
}

/* Mouse selection */
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: @MetroGreen;
}

::selection {
  color: #fff;
  background: @MetroGreen;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}
