.offerImageSmall{
  border-radius: @borderRadius;
  height: 3em;
  width: 3em;
}

.visible-xs-block .listItem{
  background-color: @DarkerMetroGreen;
  height: 10em;
  width: 100%;
  margin-left: -1.5em;
  margin-top: 0.5em;
  .frame;
  padding-left: 1em ;
  padding-top: 0.5em;
}

.hidden-xs .listItem{
  background-color: @DarkerMetroGreen;
  height: 10em;
  width: 33%;
  .frame;

}
