.listItem{
  background-color: @MetroGreyBlue;
  height: 10em;
  margin-bottom: 10px;
}

.visible-xs-block .listItem{
  width: 100%;
}

.hidden-xs .listItem{
  width: 33%;

}

#demandHandlebarsListItem, #offerHandlebarsListItem {
  display : none;
}
