/* /register Styles */

#registrationForms {
  h1, label {
    color: @HeaderFontColor;
  }
  label, input {
    margin-bottom: 5px;
  }
}
  #registrationForms input{
    width: 100%;
  }

 #register p{
   padding-top: 1em;
 }

#register img{
  max-width: 100%;
}

#register div{
  margin-bottom: 10px;
}
