/* /register Styles */

#registrationForms {
  padding: 2em;

  h1, label {
    color: @MetroLightBlue;
  }
  label, input {
    margin-bottom: 5px;
  }
  .inputError{
    width: 100%;
  }
}
#registrationForms input{
  width: 100%;
  margin-bottom: 0 !important;
}

#register p{
  padding-top: 1em;
}

#register img{
  max-width: 100%;
}

#register div{
  margin-bottom: 10px;
}

#register, #loginForm{
  width: 100%;
  max-width: 100%;
}
