/***************************
        STRUCTURE
***************************/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  background-image: url("/images/BG1.jpg");
}

.container {
  font-family: sen;
}

.contentContainer {
  margin: 3em 0;
  padding: 1em;
  background-color: fadeout(@MetroDark, 40%);
  h1{
    margin: 10px 0;
    color: @MetroGreen;
  }
}
