/***************************
        STRUCTURE
***************************/
* {
  margin: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  background-color: @LighterMetroDark;
}

.container{
}
.contentContainer{
  margin: 3em 0;
  background-color: whitesmoke;

}

.mainHr{
  margin: 5px 0;
  height: 2px;
}
