<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= i18n('Neeedo Member Area') %></title>
  <style>#member-area{ margin-top: 50px; padding-top: 30px; }
    #sendbtn{ margin: 10px; }
  </style>
</head>
<body>

<div id="member-area">
  <p><%= i18n('Hello %s!', LoginService.getCurrentUser(req).getUsername()) %></p>

  <p><%= i18n('Have fun here on Neeedo.com!') %></p>
</div>

</body>
</html>
