<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <style>#register{ margin-top: 50px; padding-top: 30px; }
    #sendbtn{ margin: 10px; }
  </style>
</head>
<body>
<form method="POST" id="register">
  <label for="username">Username</label>
  <input type="text" name="username"/>
  <label for="email">E-Mail</label>
  <input type="text" name="email"/>
  <label for="password">Passwort</label>
  <input type="password" name="password"/> <br />
  <input type="submit" value="abschicken" id="sendbtn" />
</form>

</body>
</html>
