<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= i18n('Registration') %></title>
  <style>#register{ margin-top: 50px; padding-top: 30px; }
    #sendbtn{ margin: 10px; }
  </style>
</head>
<body>

<div id="register">
  <p><%= i18n('Welcome to Neeedo, %s!', username) %></p>
</div>

</body>
</html>
