<div id="offerPreviewImage">
  <li class="{{cssclass}}">
    <img src="{{imageUrl}}"
         alt="{{imageFileName}}">
    <input type="button" class="fileupload-deleteImage"
           value="{{translations.delete}}"
           data-imageName="{{imageFileName}}">
  </li>
</div>
