<div id="offerPreviewImage">
  <li class="{{cssclass}}">
    {{{imageHtml}}}
    <input type="button" class="fileupload-deleteImage"
           value="{{translations.delete}}"
           data-imageName="{{imageFileName}}">
  </li>
</div>
