<div id="offerPreviewImage">
  <li class="{{cssclass}}">
    {{{imageHtml}}}
    <input type="button" class="fileupload-deleteImage"
           value="{{translations.delete}}"
           data-imageName="{{imageFileName}}">
    <div class="fileupload-delImg icon-cancel-circle" data-imageName="{{imageFileName}}"></div>
  </li>
</div>
