<% if (!LoginService.userIsLoggedIn(req)) { %>
<div class="headerIconBig">
  <a id="headerLoginBtn" type="button" data-toggle="modal" data-target="#loginModal"><span
      class=" icon-enter"></span>

    <p><%= i18n('Login') %></p>
  </a>
</div>
<% } %>
<% if (LoginService.userIsLoggedIn(req)) { %>

<div class="headerIconBig">
  <a href="<%= UrlService.to('/logout') %>">
    <span class="icon-exit"></span>

    <p><%= i18n('Logout') %></p>
  </a>

</div>
<% } %>

