<% if (LoginService.userIsLoggedIn(req)) { %>
<div class="col-xs-4">
  <div class="hidden-xs">
    <div class="col-xs-5">
      <div class="headerIconBig">
        <a href="<%= UrlService.to('/offers/create') %>">
          <span class="icon-offer"></span>

          <p><%= i18n('Create offer') %></p>
        </a>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="headerIconBig">
        <a href="<%= UrlService.to('/demands/create') %>"><span
            class="icon-search"></span>

          <p><%= i18n('Create demand') %></p>
        </a>
      </div>
    </div>
  </div>
</div>

<% } %>
<% if (!LoginService.userIsLoggedIn(req)) { %>
<div class="col-xs-8">
</div>
<% } %>

